---
layout: menu-page
title: Blog
permalink: /blog/
---

<div class="small-wrapper">
  {% assign posts = site.categories.blog %}
  {% if posts and posts.size > 0 %}
  <ol class="post-card-box clearfix">
  {% for post in posts %}
    <li><div class="post-card"><div class="post-card-body"><p class="post-card-title-and-meta"><a href="{{ post.url }}" class="post-card-link">{{ post.title }}</a></p></div></div></li>
  {% endfor %}
  </ol>
  {% else %}
  <p class="pf-hint">아직 작성된 글이 없습니다.</p>
  {% endif %}
</div>
